<div class="container">
  <h1>Login {{ name }}</h1>

  <form action="/login" method="post">
  	<div>
  	<label>Username:</label>
  	<input value="jack@example.com" type="email" name="email"/><br/>
  	</div>
  	<div>
  	<label>Password:</label>
  	<input value="secret" type="password" name="password"/>
  	</div>
  	<div>
  	<input type="submit" value="Submit"/>
  	</div>
  </form>

</div>
